.partie {
  display: flex;
  flex-direction: row; /* Met les enfants en ligne */
  height: 100vh; /* Prend toute la hauteur de l'écran */
  overflow: hidden; /* Empêche la page entière de scroller */
}

.leaderboard {
  width: 15%;
  min-width: 200px;
  height: min-content;
  overflow: hidden;
  display: flex; /* Active le flexbox */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  flex-direction: column; /* Aligne les enfants en colonne */
  padding-bottom: 20px;
  margin-top: 20px;
  margin-right: 5px;
}

.frise-container {
 
  margin: 5px;
  border: #a52d4f 5px solid;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  flex: 1;
  overflow-y: auto;
  padding: 1rem;

  /* Scrollbar stylée */
  scrollbar-width: thin; /* Pour Firefox */
  scrollbar-color: #a52d4f #f1f1f1; /* thumb / track */
}

/* Pour WebKit (Chrome, Edge, Safari) */
.frise-container::-webkit-scrollbar {
  width: 10px;
}

.frise-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.frise-container::-webkit-scrollbar-thumb {
  background: #a52d4f;
  border-radius: 10px;
  border: 2px solid #f1f1f1; 
}

.frise-container::-webkit-scrollbar-thumb:hover {
  background: #8f2442;
}

.pioche {
  width: 20%; /* Exemple, ajuste comme tu veux */
  min-width: 200px;
  max-width: 100px;
  overflow: hidden; /* Fixe, ne scrollent pas */
  top:0;
  display: contents;
}