
.partie {
  display: flex;
  flex-direction: row; /* Met les enfants en ligne */
  height: 100vh; /* Prend toute la hauteur de l'écran */
  overflow: hidden; /* Empêche la page entière de scroller */
}

.leaderboard {
  width: 20%; /* Exemple, ajuste comme tu veux */
  min-width: 200px;
  height: min-content;
  overflow: hidden; /* Fixe, ne scrollent pas */
}

.frise-container {
  flex: 1; /* Prend l’espace restant */
  overflow-y: auto; /* Scroll vertical uniquement pour la frise */
  padding: 1rem;
  background: #f9f9f9;
}

.pioche {
  width: 20%; /* Exemple, ajuste comme tu veux */
  min-width: 200px;
  max-width: 100px;
  overflow: hidden; /* Fixe, ne scrollent pas */
  top:0;
  display: contents;
}