.pioche {
  width: 50%;
  height: 300px;
  margin: 50px;
  padding: 20px;
  background-color: #f7f9fc;

  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.pioche h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #333;
  text-align: center;
}

/* Flex layout */
.pioche-layout {
  margin: 20px;
  display: flex;
  height: 80%;
  justify-content: space-between;
  flex-direction: column;
  }

.pioche-liste,
.selection {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 100%;
}

/* Style de la carte de pioche */
.card-back {
  width: 170px;
  height: 100%;
  background-color: #4a4a4a;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.carte-title {
  font-size: 12px;
  font-weight: bold;
}

.card-back:hover {
  transform: scale(1.05);
}

.pioche-text {
  font-size: 14px;
  margin-top: 8px;
  color: #ddd;
}

/* Carte sélectionnée */
.selection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selection h3 {
  font-size: 20px;
  color: #444;
  margin-bottom: 0px;
  margin-top: 0px;
}

.selected-card {
  width: 170px;
  height: 100%;
  background-color: #dceefb;
  border: 2px dashed #4a90e2;
  border-radius: 10px;
  font-weight: bold;
  color: #3178c6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.carte-back {
  font-size: 16px;
  color: white;
  margin-bottom: 8px;
}
